.row.box
    .col-x12
        h1 Modals
        a.btn(data-animation="am-slide-top" data-placement="center" bs-modal="modal") Modal

        h1 ALert
        a.btn(data-placement="top-right" data-container="body" data-duration="3" bs-alert="alert") Alert